.text img {
    height: 500px;
    margin-right: 10px;
}

.text {
    margin-top: 45px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 688px) {
    .text {
        display: block;
    }

    .text img {
        margin-bottom: 30px;
    }
}